torch --extra-index-url https://download.pytorch.org/whl/cu118 
langchain
langchain-community
langchain-huggingface
huggingface_hub
transformers
torch
accelerate  # Optional but recommended for large models like Llama-3
openai 
langchain-openai
# fastapi>=0.95.0
# uvicorn>=0.21.1
# celery>=5.3.4
# redis>=4.5.4
# yfinance>=0.2.21
# polygon-api-client>=2.0.0
# sec-edgar-downloader>=1.1.0
# pydantic
regex