langchain
#langchain-community
#langchain-huggingface
#huggingface_hub
#transformers
torch
#accelerate  # Optional but recommended for large models like Llama-3
openai 
langchain-openai
langchain-core

yfinance
regex
pandas
lxml  # For parsing HTML/XML wiki pages

fastapi
pydantic
celery
uvicorn>=0.21.1
# redis>=4.5.4
# polygon-api-client>=2.0.0
# sec-edgar-downloader>=1.1.0

pytest